
.ErrorText {
    color: red;
}
.LabelClass {
    color: orange;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}


.txtCorrectAnswer2 {
    width: 98%;
    height: 98%;
    border: solid #0adaf7;
    color: white;
    text-align: center;
    background-color: red;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
}
.txtCorrectAnswer {
    width: 98%;
    height: 98%;
    border: solid #0adaf7;
    color: #808080;
    text-align: center;
    background-color: #ffd300;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
}
    /*width: 100px;
    border: solid #0adaf7;
    background-color: #ffd300;
    color: #808080;
    text-align: center;
    font-family: 'Comic Sans MS';
    font-size: 20px;
}*/
    .txtLCM_CELL {
    width: 400px;
    
    border: solid #554b4b;
    color: white;
    text-align: center;
    background-color: cornflowerblue;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
}
.txtCorrectAnswerNumber {
    width: 400px;
    border: solid #0adaf7;
    background-color: #ffd300;
    color: #808080;
    text-align: center;
    font-family: 'Comic Sans MS';
    font-size: 40px;
}
.TopHeader {
    border: 5px violet solid;
    background-color: darkslategrey;
    color: white;
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
.SubHeader {
    border: 3px palevioletred solid;
    background-color: #808080;
    color: brown;
    font-size: 25px;
    font-family: fantasy;
    text-align: center;
}
.SOLUTION {
    border: 10px brown solid;
    background-color: darkslategray;
    color: white;
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: left;
}

.txtIDSolution{
    border: 1px palevioletred solid;
    background-color: darkslategray;
    color: white;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

.txtIDindex {
    border: 1px palevioletred solid;
    background-color: teal;
    color: white;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}
.txtIDvalue {
    border: 5px palevioletred solid;
    background-color: #808080;
    color: white;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}
table {
    border: 1px solid green;
}

th {
    border: 3px solid #808080;
    width: 100px;
    height: 50px;
}

tr, td {
    border: 3px solid orange;
    width: 100px;
    height: 50px;
}
.MatrixOrder {
    color: darkblue;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: 400;
}
.MatrixOrderStatment {
    color: black;    
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: 400;
    width:100%;
}   
.AMatrixvalue {
    width: 100%;
    border: solid #554b4b;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    background-color:cornflowerblue;
}
.CalculateAnswer {
    align-content: center;
    background-color: #756969;
    color: white;
    font-size: 55px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

/*For Square Root*/
.AMatrixvalueNoWrap {
    width:10px;
    border: none;
    color: lightseagreen;
    font-family: 'Times New Roman', Times, serif;
    white-space: nowrap;
    font-size: 40px;
    text-align: right;
}
.DivAnswerTextQ {
    height: 100%;
    width: 30px;
    border-bottom: 5px solid #0094ff;
    color: lightseagreen;
    font-family: 'Times New Roman', Times, serif;
    white-space: nowrap;
    font-size: 40px;
    text-align: right;
}
.DivAnswerText {
    height: 100%;
    width: 30px;    
    color: lightseagreen;
    font-family: 'Times New Roman', Times, serif;
    white-space: nowrap;
    font-size: 40px;
    text-align: right;
    
}
.TestAnswer {
    width: 100%;
    height: 100%;
    border: solid #554b4b;
    text-align: center;
    color: #ffffff;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    background-color: #808080;
}

.FinalSolution {
    
    border: solid;
    color: brown;
    font-family: 'Times New Roman', Times, serif;
    white-space: nowrap;
    font-size: 40px;
    text-align: center;
}
.AMatrixvalueUnderLine {
    width: 10px;
    border-bottom:none;
    border-left: none;
    border-top: none;
    border-right: none;
    color: lightseagreen;
    font-family: 'Times New Roman', Times, serif;
    white-space: nowrap;
    font-size: 40px;
    text-decoration: underline orange;
    text-align: center;
}

.SquareRootLeft {
    width: 10px;
    border-right: 5px solid #0094ff;
    border-left: none;
    border-top: none;
    border-bottom: none;
    color: lightseagreen;
    font-family: 'Times New Roman', Times, serif;
    white-space: nowrap;
    font-size: 40px;
    text-align: right;
}

.DivisionLeft {
    width: 10px;
    border-right: 5px solid #0094ff;
    border-left: none;
    border-top: none;
    border-bottom: 5px solid #0094ff;
    color: darkmagenta;
    font-family: 'Times New Roman', Times, serif;
    white-space: nowrap;
    font-size: 40px;
    text-align: right;
}

.DivisionElse {
    width: 10px;
    border: none;
    color: lightseagreen;
    font-family: 'Times New Roman', Times, serif;
    white-space: nowrap;
    font-size: 40px;
    text-align: right;
}

.quotientInteger {
    width: 10px;
    border-bottom: 10px solid palevioletred;
    border-left: none;
    border-top: none;
    border-right: none;
    color: #ff6a00;
    font-family: 'Times New Roman', Times, serif;
    white-space: nowrap;
    font-size: 40px;
    text-align: right;
}

.quotientDecimal {
    width: 10px;
    border-bottom: 10px solid palevioletred;
    border-left: none;
    border-top: none;
    border-right: none;
    color: cornflowerblue;
    font-family: 'Times New Roman', Times, serif;
    white-space: nowrap;
    font-size: 40px;
    text-align: right;
}
.MinusSign {
    width: 10px;
    border: none;
    color: brown;
    font-family: 'Times New Roman', Times, serif;
    white-space: nowrap;
    font-size: 40px;
    text-decoration: underline orange;
    text-align: right;
}
.CTestYourSelf {
    width: 100%;
    height: 100%;
    border: solid #554b4b;
    color: #0094ff;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 800;
    font-size: 40px;
    background-color: antiquewhite;
    text-align: center;
}


.CTestNextPrev {
    width: 100%;
    height: 100%;
    border: solid #554b4b;
    color: #0094ff;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 800;
    font-size: 40px;
    background-color: antiquewhite;
    text-align: center;
}
.CTestNextPrev:hover {
        cursor: pointer;
        background-color: brown;
    }
.CalculateAnswer:hover 
{
    cursor: pointer;
    background-color: brown;
}
.CTestYourSelf:hover {
    cursor: pointer;
    background-color: brown;
}

.ErrorText{
    background-color:yellow;
    color:orangered;
    font-size:x-large;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


