
.txtCorrectAnswerCounting {
    width: 100px;
    border: solid #0adaf7;
    color: #808080;
    text-align: center;
    background-color: #ffd300;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
 
}
