
.Name
{
    text-align:right;
    color:blue;
}
.EducationTable
{
    border:3px solid black;
    background-color:cornsilk;
    color:cadetblue;

}
.HorLine {
    width: 70%;
    border: 3px solid grey;
    
}